body {
  height: 100vh;
  margin: 0px;
  background-color: #242424;
  font-family: "Lato";
  color: white;
}

p,
span {
  cursor: default;
}

.bg-pizza-area {
  background-image: url(../assets/background-main.png);
  width: 100%;
  height: 800px;
  background-size: cover;
}

.logo {
  font-weight: 900;
  font-family: "Montserrat";
}

.header {
  display: flex;
  padding-top: 32px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  height: 62px;
  padding: 0px 16px;
  background-color: #ffba00;
  text-align: right;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: "Montserrat";
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 62px;
}

.header-buttons {
  width: 50%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 24px;
  letter-spacing: 1px;
}

.header-button:hover {
  cursor: pointer;
  color: #ccc;
}

.header-logo:hover {
  cursor: pointer;
  background-color: orange;
}

.yellow-line {
  position: relative;
  width: 100%;
  height: 160px;
  margin: 260px 0px;
  background-color: #ffba00;
  font-family: "Montserrat";
}

.yellow-line-text {
  position: absolute;
  top: 34px;
  left: 138px;
  display: flex;
  flex-direction: column;
  font-size: 84px;
  text-transform: uppercase;
}

.text-bold {
  font-weight: 900;
  font-size: 102px;
  line-height: 75px;
}

.text {
  letter-spacing: 12px;
}

.yellow-line-button {
  position: absolute;
  bottom: -36px;
  right: 180px;
  display: flex;
  align-items: center;
  border: 3px solid white;
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 16px;
  padding-left: 52px;
  padding-top: 18px;
  height: 18px;
  background-color: #ffba00;
}

.gray-area {
  width: 100%;
  height: 400px;
  position: relative;
  padding-top: 60px;
}

.gray-area-image {
  position: absolute;
  right: 0;
  height: 340px;
}

.under-yellow-line {
  position: relative;
  width: 700px;
  height: 150px;
  background-color: #ffba00;
  margin-left: 110px;
  margin-top: 100px;
}

.text-above-list {
  position: absolute;
  top: -66px;
  left: 136px;
  font-size: 32px;
  letter-spacing: 8px;
  font-weight: 900;
}

.list-under-yellow-line {
  position: absolute;
  left: 92px;
  bottom: -80px;
  font-size: 26px;
  list-style-type: none;
  letter-spacing: 1px;
}

.element-of-list {
  padding-top: 30px;
  line-height: 34px;
}

.vertical-text {
  position: absolute;
  left: 18px;
  bottom: -96px;
  font-size: 44px;
  letter-spacing: 4px;
  font-weight: 300;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

.white-area {
  background-color: white;
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-area__blocks {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.white-area__blocks__text {
  color: black;
  width: 260px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.white-area__blocks__text__orange {
  font-family: "Montserrat";
  color: #ffba00;
  font-size: 24px;
  font-weight: 900;
}

.menu-area {
  background-image: url(../assets/menu-area.png);
  width: 100%;
  height: 1000px;
  background-size: cover;
}

.menu-area__logo {
  display: flex;
  justify-content: center;
  padding-top: 78px;
  color: #ffba00;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: "Montserrat";
}

.menu-area__text-under-logo {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #ffba00;
  letter-spacing: 1px;
  border: white solid 2px;
  padding: 26px;
  margin: 20px 90px;
}

.menu-area__yellow-block {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: #ffba00;
  margin-left: 316px;
  margin-top: 100px;
  height: 328px;
}

.menu-area__yellow-block__text {
  position: absolute;
  left: -10px;
  font-size: 26px;
  width: 500px;
  list-style-type: none;
  padding-top: 30px;
}

.menu-area__yellow-block__text > li {
  padding-bottom: 32px;
}

.menu-area__yellow-block--uppercase {
  text-transform: uppercase;
}

.menu-area__price-block {
  position: absolute;
  right: 200px;
  top: 50px;
  width: 50px;
  height: 350px;
  background-color: rgba(255, 218, 0, 0.6);
}

.menu-area__price-block__text {
  font-size: 26px;
  font-weight: 600;
  list-style-type: none;
  margin-top: 12px;
  margin-left: -58px;
}

.menu-area__price-block__text > li {
  padding-bottom: 64px;
}

.menu-area__block-under-menu {
  display: flex;
  justify-content: center;
  border: white solid 2px;
  margin-top: 180px;
  margin-left: 200px;
  margin-right: 200px;
}

.menu-area__block-under-menu__text {
  list-style-type: none;
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 1px;
  padding-left: 0px;
  margin: 8px 0px;
}

.area-after-menu {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area-after-menu__text--yellow {
  color: #ffba00;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat";
  margin: 16px 0px;
}

.bold {
  font-weight: 900;
}

.area-after-menu__text--small {
  display: flex;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  width: 500px;
  font-family: "Montserrat";
  line-height: 24px;
}

.area-after-menu__text--bold > ul {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 10px;
  font-weight: 600;
  font-family: "Montserrat";
  list-style-type: none;
  padding-left: 0px;
}

.masterclass-area {
  background-image: url(../assets/masterclass-area.png);
  width: 100%;
  height: 1000px;
  background-size: cover;
}

.masterclass-area__headline {
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 58px;
  padding-left: 74%;
}

.masterclass-area__yellow-block {
  position: relative;
  background-color: #ffba00;
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  margin-left: 630px;
  width: 404px;
  height: 500px;
}

.masterclass-area__yellow-block--uppercase-text {
  position: absolute;
  top: 60px;
  left: 58px;
  text-transform: uppercase;
  font-size: 32px;
  width: 290px;
  font-weight: 600;
  letter-spacing: 1px;
}

.masterclass-area__yellow-block__text {
  position: absolute;
  top: 240px;
  left: 60px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.masterclass-area__yellow-block__price {
  position: absolute;
  top: 380px;
  right: 40px;
  text-transform: uppercase;
  font-size: 30px;
  width: 200px;
  font-weight: 400;
  text-align: end;
  line-height: 40px;
}

.masterclass-area__small-yellow-block {
  position: relative;
  background-color: #ffba00;
  display: flex;
  margin-top: 32px;
  margin-left: 684px;
  width: 350px;
  height: 86px;
}

.masterclass-area__small-yellow-block > span {
  position: absolute;
  top: 36px;
  left: 24px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.gallery-area {
  position: relative;
  width: 100%;
  height: 960px;
}

.gallery-area__yellow-line {
  position: absolute;
  left: 210px;
  width: 190px;
  height: 960px;
  background-color: #ffba00;
}

.gallery-area__headline {
  color: #ffba00;
  font-size: 32px;
  font-weight: 900;
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.galley-area__images {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 370px;
  padding-top: 30px;
}

.gallery-area__logo {
  display: flex;
  justify-content: center;
  padding-top: 480px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Montserrat";
}

.gallery-area__contacts {
  position: absolute;
  bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 1.8;
}

.gallery-area__contacts--text {
  width: 260px;
  margin-right: 60px;
}

.gallery-area__contacts--social-networks {
  width: 240px;
  margin-left: 60px;
}

.social-networks--up {
  margin-bottom: 40px;
}

.social-networks--up--img {
  margin-right: 8px;
  margin-top: 5px;
}

.social-networks--down--yellow-link {
  color: #ffba00;
  font-size: 24px;
  font-weight: 700;
  line-height: 5px;
}

.gallery-area__last-line {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 220px;
  background-color: #483500;
}

.footer__about {
  width: 300px;
  height: 120px;
  margin-left: 60px;
}

.footer__about--headline {
  font-weight: 600;
}

.footer__about--text {
  font-size: 14px;
  font-weight: 500;
}

.footer__info {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-right: 120px;
  font-size: 16px;
  font-weight: 600;
}

.footer__about--headline, .footer__info--headline {
  text-transform: uppercase;
}

.footer__about--text, .footer__info--text {
  line-height: 22px;
}








/* .js-practise {
    display: flex;
    padding: 50px;
}

.news-block {
    position: relative;
    background-color: #999;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

.news-block:hover {
    background-color: #ccc;
}

.delete-button {
  position: absolute;
  top: 0px;
  right: 0px;
}

.delete-button:hover {
  background-color: rgb(226, 197, 32);
} */